<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-brand-white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">
			$color-brand-light-grey <br />
			#f2f2f2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #646363;"></span>
		<span class="sg-label">
			$color-brand-dark-grey <br />
			#646363
		</span>
	</li>
</ul>
