/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/
/**
 * 1) The page header contains the page's heading, as perhaps other page information
 *    such as description or actions (edit, delete, etc).
 */

.c-page-header__title {
  border-bottom: $border-med solid $color-black;
  color: $color-gray-73;
  display: inline-block;
  margin-top: 1rem;
  padding: 0;
  position: relative;
}
